.detail-top{
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 4.1rem;
  position: relative;
}
.detail-prevBtn{
  width: .3rem;
  padding-left: .3rem;
  text-align: center;
  font-size: .16rem;
  display: block;
  position: absolute;
  left: .28rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
}

.detail-prevBtn::before{
  width: .19rem;
  height: .3rem;
  content: '';
  background: url(../../assets/images/i3.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -.15rem;
  transition: .3s;
}

.detail-prevBtn:hover:before{
  left: -0.05rem;

}

.detail-nextBtn{
  width: .3rem;
  padding-right: .3rem;
  text-align: center;
  font-size: .16rem;
  display: block;
  position: absolute;
  right: .28rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  line-height: 1.5;
  cursor: pointer;
}

.detail-nextBtn::before {
  width: .19rem;
  height: .3rem;
  content: '';
  background: url(../../assets/images/i3.png) no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -.15rem;
  transition: .3s;
  transform: rotate(180deg);
}

.detail-nextBtn:hover:before{
  right: -0.05rem;
}

.detail-txtBox{
  color: #fff;
  position: absolute;
  top: 55%;
  left: 10%;
  font-size: .4rem;
  transform: translateY(-50%);
  line-height: 1.5;
}

.detail-box{
  padding: 1% 4%;
  background: #fff;
}

.en{
  font-size: .3rem;
  margin-bottom: .2rem;
  line-height: 1.5;
}
.title{
  font-size: .5rem;
  position: relative;
  padding-bottom: .3rem;
  margin-bottom: .3rem;
  font-weight: 500;
}
.title:before {
    width: .7rem;
    height: .04rem;
    content: '';
    background: #856b45;
    position: absolute;
    font-weight: bold;
    left: 0;
    bottom: 0;
}
.des{
  font-size: .15rem;
  line-height: .36rem;
  color: #666666;
}

.detail-dome1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .dome1-imgBox{
    width: 55%;
    img{
      border: 0;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .dome1-txtBox{
    color: #000;
    width: 33.3%;
  }
}

.detail-dome3{
  margin: 3% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .dome3-left{
    margin-bottom: 5%;
    width: 31%;
    img{
      border: 0;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .dome3-txtBox{
    text-align: center;
    width: 31%;
  }
  .title:before {
    left: 50%;
    margin-left: -.35rem;
  }
  .dome3-right{
    margin-top: 22%;
    width: 31%;
    text-align: right;
    img{
      border: 0;
      max-width: 100%;
      vertical-align: middle;
    }
  }
}