.TheJewelry{
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.theJewelry-left{
  min-height: 100vh;
  width: 50%;
  background: #000;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theJewelry-left2{
  min-height: 100vh;
  width: 50%;
  background: #26122b;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theJewelry-right{
  min-height: 100vh;
  width: 50%;
  background: #fff;
  box-sizing: border-box;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theJewelry-txt{
  text-align: right;
  cursor: pointer;
  h3{
    font-family: Baskerville;
    font-size: 0.56rem;
    line-height: 64px;
    letter-spacing: 2px;
    font-style: normal;
  }
  h4{
    font-family: "宋体",'宋体-简',"常规体";
    font-size: 0.36rem;
    letter-spacing: 1px;
    font-style: normal;
    line-height: 50px;
  }
}

@media screen and (max-width: 750px) {
  .TheJewelry{
    display: flex;
    flex-direction: column;
  }
  .theJewelry-left,
  .theJewelry-left2,
  .theJewelry-right{
    width: 100%;
    min-height: 50vh;
  }
}