.videoBody{
  width: 100%;
  min-height: 100vh;
  background: #000;
}
.videoDetail{
  background: #000;
  padding: 1.5rem 5% 0.5rem;
  h3{
    // margin: .7rem 0;
    color: #fff;
    font-size: .2rem;
    line-height: 1.5;
  }
}

.videoPlay{
  video{
    background-color: #000;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 750px) {
  .videoDetail{
    background: #000;
    padding: 2.5rem 5% 0.5rem;
  }
}
