.Jewelry{
  background-color: #000;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.JewelryBody{
  display: flex;
  align-items: center;
  background-color: #000;
  height: calc(100vh - 2.1rem);
}

.jewe-box{
  width: 100%;
  padding: 0 4%;
  margin: 0 auto;
  box-sizing: border-box;
}

.jewe-list{
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: space-around;
  box-sizing: border-box;
  .jewe-item{
    width: 29%;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content:space-between;
    position: relative;
    .jewe-text{
      cursor: pointer;
      white-space: nowrap;
      margin:  0.5rem 1rem 1.4rem 1rem;
      .jewe-the{
        font-size: 0.24rem;
        font-family: Baskerville;
        font-style: italic;
        margin-bottom: 0.16rem;
      }
      h5{
        font-size: 0.48rem;
        font-family: Baskerville;
      }
    }
    .jewe-icon{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      img{
        width: 0.2rem;
        height: 0.2rem;
      }
    }
  }
  .jewe-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 24%;
    right: 0;
    width: 2px;
    height: 0.74rem;
    background-color: #1c1c1c;
    transform:rotate(-25deg);
  }
  .jewe-down{
    color: #8D7249;
    font-size: 0.18rem;
    cursor: pointer;
    text-decoration: none;
    font-family: AlibabaPuHuiTi, AlibabaPuHuiTi;
    &:hover{
      .jewe-line{
        &:before {
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transition-delay: .3s;
          transition-delay: .3s;
        }
        &:after {
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
        }
      }

    }
  }
  .jewe-line{
    width: 100%;
    height: 1px;
    margin: 0.05rem 0 0.1rem 0;
    position: relative;
    &:before {
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    &:after{
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
      transform-origin: 100% 0;
      -webkit-transition-delay: .3s;
      transition-delay: .3s;
    }
    &:before, &:after {
      height: 1px;
      width: 100%;
      position: absolute;
      background-color: #8d7249;
      bottom: -3px;
      left: 0;
      content: "";
      -webkit-transition: -webkit-transform .3s cubic-bezier(.39,.575,.565,1);
      transition: -webkit-transform .3s cubic-bezier(.39,.575,.565,1);
      transition: transform .3s cubic-bezier(.39,.575,.565,1);
      transition: transform .3s cubic-bezier(.39,.575,.565,1),-webkit-transform .3s cubic-bezier(.39,.575,.565,1);
    }
  }
  .jewe-txt{
    margin-right: 0.1rem;
  }
}

@media screen and (max-width: 750px) {
  .JewelryBody{
    height: calc(100vh - 1.8rem);
  }
  .jewe-list{
    display: flex;
    flex-direction: column;
    .jewe-item{
      width: 100%;
      margin-bottom: 0.3rem;
    }
    .jewe-item::after{
      display: none;
    }
  }

}

@media screen and (min-width: 750px) and (max-width: 768px) {
  .JewelryBody{
    height: calc(100vh - 2.06rem);
  }
  
  .jewe-list{
    .jewe-item{
      h5{
        font-size: 0.38rem;
        margin-top: 0.3rem;
      }
      .jewe-icon{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
          width: 0.3rem;
          height: 0.3rem;
        }
      }
    }
    .jewe-item::after{
      display: none;
    }
  }
}