.contactUs-body{
  width: 100%;
  min-height: 100vh;
  background: #000;
}
.option-size{
  font-size: .2rem !important;
}
.contactUs{
  min-height: calc(100vh - 0.3rem);
  .cu-container{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: .8s;
    .itemBox{
      height: 4rem;
      position: relative;
      border-top: 1px dashed rgba(255,255,255,.5);
      transition: .5s;
      overflow: hidden;
      &:first-child{
        border-top: 0;
      }
      .wrapper{
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        color: #fff;
        .title{
          font-size: .35rem;
          margin-bottom: 0.3rem;
          line-height: 1;
          font-weight: normal;
          white-space: nowrap;
        }
        .content{
          -webkit-transition: all .8s cubic-bezier(.39,.575,.565,1);
          transition: all .8s cubic-bezier(.39,.575,.565,1);
          opacity: 1;
          -webkit-transform: translateY(0.5px);
          -ms-transform: translateY(.5px);
          transform: translateY(0.5px);
          height: 1.5rem;
          p{
            font-size: .18rem;
          }
          .mg-25{
            margin: 0.15rem 0 0.25rem;
          }
        }
      }
    }
  }
  .contact-form{
    min-height: 4rem;
    background-color: #fff;
    .title{
      padding-top: .1rem;
      text-align: center;
      font-size: .35rem;
      color: #000;
      margin-bottom: 0.2rem;
      position: relative;
      padding-top: .2rem;
      span{
        display: none;
        font-size: .16rem;
        color: #999;
        position: absolute;
        top: 50%;
        font-weight: bold;
        transform: translateY(-50%);
        left: 0;

      }
    }
    :global {
      .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border: none;
        border-bottom: 1px solid #eee;
        font-size: .14rem;
        padding: 3px 0;
        span{
          padding: 0;
        }
      }
      .ant-form-item .ant-form-item-label >label{
        font-size: .2rem;
      }
      .ant-select-arrow{
        font-size: .15rem;
        right: 0;
      }
      .ant-select-clear{
        font-size: .15rem;
        right: 0;
      }
    }  
    .txt{
      border: none;
      border-bottom: 1px solid #eee;
      font-size: .14rem;
      padding: 3px 0;
      span{
        padding: 0;
      }
    }
    .cbox{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sub{
        display: block;
        font-size: .2rem;
        color: #000;
        border-color: #fff;
        bottom: 0 !important;
        &:after{
          background-color: #000;
        }
        &:before{
          background-color: #000;
        }
      }
    }
  }
  .c-btn{
    font-size: .2rem;
    cursor: pointer;
    position: relative;
    padding: 0.03rem 0;
    display: inline-block;
    bottom: .5rem;
    &:hover {
      color: #fff;
    }
    &:before {
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    &:hover:before {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-delay: .3s;
      transition-delay: .3s;
    }
    
    &:after{
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
      transform-origin: 100% 0;
      -webkit-transition-delay: .3s;
      transition-delay: .3s;
    }
    &:hover:after {
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    &:before, &:after {
      height: 1px;
      width: 100%;
      position: absolute;
      background-color: #fff;
      bottom: -3px;
      left: 0;
      content: "";
      -webkit-transition: -webkit-transform .3s cubic-bezier(.39,.575,.565,1);
      transition: -webkit-transform .3s cubic-bezier(.39,.575,.565,1);
      transition: transform .3s cubic-bezier(.39,.575,.565,1);
      transition: transform .3s cubic-bezier(.39,.575,.565,1),-webkit-transform .3s cubic-bezier(.39,.575,.565,1);
    }
  }
}

@keyframes enlarge {
  0%{
    flex: 0;
  }
  100%{
    flex: 1.5;
  }
}

@keyframes cu-narrow {
  0%{
    height: calc(100vh - 0.8rem);
  }
  100%{
    height: 6.8rem;
  }
}

@keyframes narrow {
  0%{
    flex: 1;
  }
  100%{
    flex: 0;
  }
}

@keyframes enlarge-leave {
  0%{
    flex: 1.5;
  }
  100%{
    flex: 0;
  }
}

@keyframes narrow-leave {
  0%{
    flex: 0;
  }
  100%{
    flex: 1;
  }
}
@media screen and (max-width: 750px) {
  .hide{
    overflow: hidden;
    position: relative;
  }
  .option-size{
    font-size: .25rem !important;
  }
  .contactUs{
    min-height: calc(100vh - 2.1rem);
    background-color: #000;
    .cu-narrow{
      animation-name: cu-narrow !important;
    }
    .cu-container{
      padding-top: 1.4rem;
      background: none !important;
      position: relative;
      height: calc(100vh - 0.8rem);
      display: flex;
      overflow: hidden;
      animation-name: none;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      .narrow{
        flex: 0 !important;
      }
      .itemBox{
        flex: 1;
        width: 100%;
        border: none !important;
        .bgBox{
          // position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: block;
          background-size: cover;
          background-position: center;
        }
        .hideWarp{
          display: none;
        }
        .wrapper{
          .title{
            font-size: .6rem;
            margin-bottom: .5rem;
          }
          .txt{
            p{
              font-size: .25rem !important;
            }
          }
          .c-btn{
            font-size: .45rem !important;
            bottom: 0;
          }
        }
      }
      
    }
    .showForm{
      position: static !important;
    }
    .contact-form{
      background-color: #fff;
      position: absolute;
      top: calc(100vh + .8rem);
      width: 100%;
      transition: .8s;
      .txt{
        font-size: .25rem;
      }
      :global {
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
          font-size: .25rem;
        }
        .ant-form-item .ant-form-item-label >label{
          font-size: .25rem;
        }
        .ant-select-arrow{
          font-size: .25rem;
        }
      } 
      .cbox{
        .sub{
          font-size: .3rem;
        }
      } 
    }
  }  
}
@media screen and (min-width: 1024px) {
  .option-size{
    font-size: .15rem !important;
  }
  .contactUs{
    .cu-container{
      overflow: hidden;
      flex-direction: row;
      .enlarge{
        animation-name: enlarge !important;
        padding: 1% .2rem;
      }
      .narrow{
        animation-name: narrow !important;
      }
      .enlarge-leave{
        animation-name: enlarge-leave !important;
      }
      .narrow-leave{
        animation-name: narrow-leave !important;
      }
      .showWrapper{
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: translate3d(-50%,-50%,0) !important;
        transform: translate3d(-50%,-50%,0) !important;
      }
      .showContent{
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        opacity: 1 !important;
        max-height: none;
      }
      .itemBox{
        flex: 1;
        height: 100vh;
        border-top: 0;
        border-left: 1px solid hsla(0,0%,100%,.2);
        animation-name: none;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        &:first-child{
          border-left: 0;
        }
        &:hover .wrapper {
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          -webkit-transform: translate3d(-50%,-50%,0);
          transform: translate3d(-50%,-50%,0);
        }
        &:hover .wrapper .content {
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          opacity: 1 !important;
          max-height: none;
        }
        .wrapper{
          text-align: center;
          -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
          /* transform: translate(-50%); */
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          color: #fff;
          -webkit-transition: all .8s cubic-bezier(.39,.575,.565,1);
          transition: all .8s cubic-bezier(.39,.575,.565,1);
          .title{
            font-size: .4rem !important;
            line-height: 1;
            margin-bottom: .8rem;
            font-weight: normal;
            white-space: nowrap;
          }
          .content{
            -webkit-transition: all .8s cubic-bezier(.39,.575,.565,1);
            transition: all .8s cubic-bezier(.39,.575,.565,1);
            opacity: 0;
            -webkit-transform: translateY(0.5px);
            -ms-transform: translateY(.5px);
            transform: translateY(0.5px);
            .mg-25{
              margin: 0.25rem 0 0.5rem;
            }
            p{
              font-size: .14rem;
            }
            .c-btn{
              font-size: .16rem;
            }
          }
        }
      }
    }
    .contact-form{
      width: 0;
      height: 100vh;
      background-color: #fff;
      animation-name: none;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      span{
        display: inline-block !important;
        z-index: 999;
        cursor: pointer;
      }
      :global {
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
          font-size: .15rem;
        }
        .ant-form-item .ant-form-item-label >label{
          font-size: .2rem;
        }
        .ant-select .ant-select-dropdown-menu-item{
          font-size: 1rem;
        }
      } 
    }
  }
}