.wholeVideo{
  box-sizing: border-box;
  .banner{
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 4.1rem;
    position: relative;
    h5{
      font-family: "宋体",'宋体-简',"常规体";
      color: #fff;
      position: absolute;
      bottom: 33%;
      left: 7%;
      font-size: .4rem;
      line-height: 1.4;
      box-sizing: border-box;
      span{
        color: #8D7249;
      }
    }
  }
  .wv-main{
    padding: 1rem 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 12 columns */
    gap: 10px; /* Grid gap */
    background: #000;
  }
  .wv-container{
    padding: 1rem 4%;
    background: #000;
    .itemBox{
      // border-left: 1px solid #fff;
      padding: 0.3rem 0 0.3rem 0.55rem;
      margin-bottom: 1rem;
      .title{
        padding: 0.2rem 0;
        position: relative;
        font-size: .4rem;
        color: #fff;
        font-weight: bold;
        font-family: "宋体",'宋体-简',"常规体";
        // &:before{
        //   width: 0.29rem;
        //   height: 0.26rem;
        //   content: '';
        //   background: url(../../assets/images/zs.png) no-repeat;
        //   background-size: contain;
        //   background-position: center center;
        //   position: absolute;
        //   left: -0.7rem;
        //   top: 0;
        // }
      }
      .listBox{
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .wv-container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    li{
      display: flex;
      width: 62%;
      justify-content: center;
      cursor: pointer;
      margin-bottom: 1.1rem;
    }
    .video-left{
      background: #fff;
      width: 58%;
      height: 3.15rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      img{
        border: 0;
        width: 100%;
        height: 100%;
        min-height: 100%;
        vertical-align: middle;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      } 
      .video-text{
        font-size: 22px;
        line-height: 3.15rem;
        text-align: center;
      }
    }
    .video-right{
      width: 42%;
      font-weight: 400;
      font-size: 22px;
      line-height: 1.4;
      background-color: #fff;
      box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
      color: #8d7249;
      padding: 3% 3% 0 7%;
      box-sizing: border-box;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      .video-date{
        font-family: "宋体",'宋体-简',"常规体";
        font-weight: bold;
        font-size: 0.42rem;
        color: #8E734A;
        line-height: 93px;
        letter-spacing: 4px;
        text-align: left;
        font-style: normal;
      }
      .video-title{
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        line-height: 34px;
        text-align: left;
        font-style: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .video-icon{
      width: 0.3rem;
      height: 0.3rem;
    }
    // .itemBox{
    //   // border-left: 1px solid #fff;
    //   padding: 0.3rem 0 0.3rem 0.55rem;
    //   margin-bottom: 1rem;
    //   .title{
    //     padding: 0.2rem 0;
    //     position: relative;
    //     font-size: .4rem;
    //     color: #fff;
    //     font-weight: bold;
    //     font-family: "宋体",'宋体-简',"常规体";
    //     // &:before{
    //     //   width: 0.29rem;
    //     //   height: 0.26rem;
    //     //   content: '';
    //     //   background: url(../../assets/images/zs.png) no-repeat;
    //     //   background-size: contain;
    //     //   background-position: center center;
    //     //   position: absolute;
    //     //   left: -0.7rem;
    //     //   top: 0;
    //     // }
    //   }
    //   .listBox{
    //     display: flex;
    //     flex-wrap: wrap;
    //   }
    // }
  }
  .card{
    width: 90%;
    // margin-right: 2%;
    margin-top: 0.2rem;
    cursor: pointer;
    &:hover h5{
      color: #8d7249;
    }
    &:hover .imgBox:after {
      top: 45%;
    }
    // &:nth-child(3n){
    //   margin-right: 0;
    // }
    .imgBox{
      position: relative;
      margin-bottom: 0.4rem;
      &:before{
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(0,0,0,.5);
        position: absolute;
        top: 0;
        left: 0;
      }
      &:after{
        width: 0.34rem;
        height: 0.38rem;
        content: '';
        background: url(../../assets//images//play.png) no-repeat;
        background-size: contain;
        background-position: center center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s;
      }
      img{
        border: 0;
        width: 100%;
        height: 1.8rem;
        vertical-align: middle;
      }
    }
    h4{
      min-height: 1.2em;
      margin-bottom: 0.05rem;
      text-align: center;
      font-weight: normal;
      color: #8d7249;
      font-size: .18rem;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre-wrap;
      
    }
    h5{
      color: #fff;
      font-size: .16rem;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre-wrap;
      line-height: 1.7;
    }
  }
  .card2{
    width: 28%;
    margin-right: 3%;
    margin-top: 0.2rem;
    cursor: pointer;
    &:hover h5{
      color: #8d7249;
    }
    &:hover .imgBox:after {
      top: 45%;
    }
    // &:nth-child(3n){
    //   margin-right: 0;
    // }
    .imgBox{
      position: relative;
      margin-bottom: 0.4rem;
      &:before{
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(0,0,0,.5);
        position: absolute;
        top: 0;
        left: 0;
      }
      &:after{
        width: 0.34rem;
        height: 0.38rem;
        content: '';
        background: url(../../assets//images//play.png) no-repeat;
        background-size: contain;
        background-position: center center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s;
      }
      img{
        border: 0;
        width: 100%;
        height: 1.8rem;
        vertical-align: middle;
      }
    }
    h4{
      min-height: 1.2em;
      margin-bottom: 0.05rem;
      text-align: center;
      font-weight: normal;
      color: #8d7249;
      font-size: .18rem;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre-wrap;
      
    }
    h5{
      color: #fff;
      font-size: .16rem;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre-wrap;
      font-family: "宋体",'宋体-简',"常规体";
    }
  }
  .m-b-2{
    margin-bottom: 0.2rem !important;
  }
  .m-b-4{
    margin-bottom: 0.4rem !important;
  }
  .center{
    text-align: center;
  }
}

.ContainerBody{
  position: relative;
}

.doc-nav{
  position: absolute;
  right: 0.5rem;
  top: 0.7rem;
  .nav-line{
    position: absolute;
    width: 1px;
    min-height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #8d7249;
  }
  .nav-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .navItem{
    z-index: 1;
    position: relative;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border:1px solid #8d7249;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0.3rem;
    .activeText{
      display: none;
      color: #fff;
      height: 0.2rem;
      width: 1rem;
      color: #fff;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
  .active:first-child,
  .navItem:first-child {
    margin-top: 0;
  }
  .active{
    position: relative;
    cursor: pointer;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border:1px solid #8d7249;
    border-radius: 50%;
    margin-top: 0.3rem;
    .activeText{
      display: block;
      position: absolute;
      font-size: 0.2rem;
      left: -100px;
      top: 0;
      color: #fff;
      height: 0.2rem;
      width: 1rem;
      color: #fff;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
  .active::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%; /* 将矩形变成圆形 */
    transform: translate(-50%, -50%);
  }
}

.doc-nav-fix{
  position: fixed;
  right: 0.5rem;
  top: 1.7rem;
  .nav-line{
    position: absolute;
    width: 1px;
    min-height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #8d7249;
  }
  .nav-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .navItem{
    z-index: 1;
    position: relative;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border:1px solid #8d7249;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0.3rem;
    .activeText{
      display: none;
      color: #fff;
      height: 0.2rem;
      width: 1rem;
      color: #fff;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
  .active:first-child,
  .navItem:first-child {
    margin-top: 0;
  }
  .active{
    position: relative;
    cursor: pointer;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border:1px solid #8d7249;
    border-radius: 50%;
    margin-top: 0.3rem;
    .activeText{
      display: block;
      position: absolute;
      font-size: 0.2rem;
      left: -100px;
      top: 0;
      color: #fff;
      height: 0.2rem;
      width: 1rem;
      color: #fff;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
  .active::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%; /* 将矩形变成圆形 */
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 750px) {
  .doc-nav{
    display: none !important;
  }
  .doc-nav-fix{
    display: none !important;
  }
  .wv-container{
    min-height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;

  }
  .wv-container2{
    min-height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;

  }
  .wv-main{
    min-height: calc(100vh - 8rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important; /* 两列，每列自动宽度 */
    grid-gap: 10px; /* 格子间隔 */
    padding: 10px; /* 容器内边距 */ 
  }
  .card{
    max-width: 3rem;
  }
  .card2{
    width: 42% !important;
    .imgBox{
      img{
        height: 1.4rem !important;
      }
    }
  }
}