.headerBody{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
  z-index: 99;
  box-sizing: border-box;
  padding: 0.7rem 0.4rem;
  height: 1rem;
}
.onFix{
  background: #000;
}

.header-logo{
  max-width: 2.4rem;
  min-height: .52rem;
  cursor: pointer;
}

.header-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name{
  color: #fff;
  font-weight: bold;
  font-size: .17rem;
  line-height: .25rem;
}
.header-menu{
  margin-left: .3rem;
  width: .3rem;
  height: .26rem;
  background-image: url(../../assets/images/menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: .3s;
  cursor: pointer;
}
.header-menu2{
  margin-left: .3rem;
  width: .3rem;
  height: .26rem;
  background-image: url(../../assets/images/menu2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: .3s;
  cursor: pointer;
}

.header-menu:hover{
  background-image: url(../../assets/images/menu_a.png);
}
.retBtn{
  color: #fff;
  position: relative;
  padding: .03rem 0;
  color: #fff;
  font-size: 0.14rem;
  line-height: 1.42857143;
  cursor: pointer;
  :hover {
    color: #fff;
  }
}
.retBtn::after,
.retBtn::before {
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  bottom: -3px;
  left: 0;
  content: "";
  -webkit-transition: -webkit-transform .3s cubic-bezier(.39,.575,.565,1);
  transition: -webkit-transform .3s cubic-bezier(.39,.575,.565,1);
  transition: transform .3s cubic-bezier(.39,.575,.565,1);
  transition: transform .3s cubic-bezier(.39,.575,.565,1), -webkit-transform .3s cubic-bezier(.39,.575,.565,1);
}

@media screen and (max-width: 750px) {
  .header-menu{
    width: .4rem;
    height: .4rem;
  }
  .retBtn{
    color: #fff;
    position: relative;
    padding: .03rem 0;
    color: #fff;
    font-size: 0.20rem;
    line-height: 1.42857143;
    cursor: pointer;
  }
}
