.footerBody{
  width: 100%;
  background-color: #000;
}
.footer-top{
  padding: .5rem .4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #666666;
  .footer-nav{
    width: 74.5%;
  }
  .footer-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .18rem;
    color: #666666;
    li{
      cursor: pointer;
    }
    li:hover{
      color: #fff;
    }
  }
  .footer-soc{
    width: 19%;
    height: 0.20rem;
    border-left: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-wx{
      display: flex;
      align-items: center;
      position: relative;
      padding: 0.1rem 0;
      cursor: pointer;
      .footer-ewm{
        display: none;
        position: absolute;
        left: 50%;
        bottom: 30px;
        width: 140px;
        padding: 10px;
        background-color: #fff;
        transform: translateX(-50%);
        box-sizing: border-box;
        z-index: 3;
        img{
          margin: 0;
          width: 100%;
          height: 100%;
          border: 0;
          vertical-align: middle;
        }
      }
    }
    .footer-wx:hover{
      .footer-ewm{
        display: block;
      }
    }
    img {
      height: 0.15rem;
      margin: 0 0.08rem;
      cursor: pointer;
    }
  }
}
.footer-copy{
  font-size: 0.16rem;
  height: .8rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  .footer-line{
    margin: 0 0.05rem;
  }
}

@media screen and (max-width: 750px) {
  .footer-top{
    padding:0.4rem;
    .footer-nav{
      display: none;
    }
    .footer-soc{
      width: 100%;
      height: 0.28rem;
      padding: 0 4%;
      box-sizing: border-box;
      display: flex;
      justify-content:space-between;
      border: none;
      img {
        height: 0.28rem;
        margin: 0 0.08rem;
        cursor: pointer;
      }
    }

  }
}
