.doc-banner{
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 4.1rem;
  position: relative;
}

.doc-banner h5{
  font-family: Baskerville;
  color: #fff;
  position: absolute;
  bottom: 33%;
  left: 7%;
  font-size: .4rem;
  line-height: 1.4;
  box-sizing: border-box;
}
.DocBody{
  width: 100%;
  min-height: calc(100vh - 6rem);
  box-sizing: border-box;
  background: #fff;
  padding: 7% 4%;
  position: relative;
  overflow: visible;
}
.doc-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.doc-item{
  display: flex;
  width: 80%;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 0.6rem;
  .doc-left{
    width: 55%;
    height: 3.1rem;
    img{
      border: 0;
      width: 100%;
      height: 100%;
      min-height: 100%;
      vertical-align: middle;
    } 
  }
  .doc-right{
    width: 45%;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
    color: #8d7249;
    padding: 3% 3% 0 7%;
    box-sizing: border-box;
    .doc-date{
      font-size: .5rem;
      font-weight: 600;
      margin-bottom: 0.1rem;
    }
    .doc-title{
      color: #000;
      font-size: .2rem;
      line-height: 1.5;
      margin-bottom: 0.15rem;
    }
  }
  .doc-icon{
    width: 0.3rem;
    height: 0.3rem;
  }
}
.doc-nav{
  position: fixed;
  right: 0.5rem;
  top: 4.5rem;
  .nav-line{
    position: absolute;
    width: 1px;
    min-height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #8d7249;
  }
  .nav-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .navItem{
    z-index: 1;
    position: relative;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border:1px solid #8d7249;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0.3rem;
    .activeText{
      display: none;
    }
  }
  .active:first-child,
  .navItem:first-child {
    margin-top: 0;
  }
  .active{
    position: relative;
    cursor: pointer;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border:1px solid #8d7249;
    border-radius: 50%;
    margin-top: 0.3rem;
    .activeText{
      display: block;
      position: absolute;
      font-size: 0.2rem;
      left: -90px;
      top: 0;
    }
  }
  .active::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%; /* 将矩形变成圆形 */
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 750px) {
  .DocBody{
    padding: 7% 2%;
  }
  .doc-nav{
    display: none;
  }
  .doc-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .doc-left{
      width: 100%;
    }
    .doc-right{
      width: 100%;
    }
  }
  
}