.homeBody {
  height: 100vh;
  width: 100%;
  background-color: #000;
  .bgVideo {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: .5;
    position: absolute;
  }
  
}
.home-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  .home-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .home-inner {
      display: flex;
      align-items: center;
      .intro-left {
        margin-right: 1.8rem;
        img {
          width: 5rem;
          max-height: 2rem;
        }
        .intro-head {
          // display: flex;
          // justify-content: center;
          // align-items: center;
          font-size: 0.14rem;
          color: #8d7249;
          margin-top: 0.3rem;
          p:nth-child(1){
            margin: 0 0.2rem;
            font-size: 0.34rem;
            line-height: 1.5;
            display: flex;
            justify-content: space-around;
          }
          p:nth-child(2){
            font-size: 0.14rem;
            margin-bottom: 0.2rem;
          }
          // span {
          //   display: flex;
          //   flex-direction: column;
          //   justify-content: center;
          //   text-align: center;
          //   margin: 0 0.2rem;
          //   b {
          //     font-size: 0.34rem;
          //     margin-bottom: 0.2rem;
          //   }
          // }
        }
      }
      .intro-right {
        div {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          text-align: center;
          font-size: 0.24rem;
          margin-bottom: 0.2rem;
          b {
            font-family: Baskerville;
            color: #fff;
            margin-bottom: 0.08rem;
            min-width: 1rem;
          }
          i {
            font-family: Baskerville;
            color: #8d7249;
            font-size: 0.12rem;
          }
        }
      }
    }
  }
  .home-bottom {
    position: absolute;
    width: 100%;
    bottom: 0.3rem;
    color: #fff;
    box-sizing: border-box;
    font-size: 0.12rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    .home-wx{
      display: inline-block;
      position: relative;
      padding: 0.1rem 0;
      cursor: pointer;
      .home-ewm{
        display: none;
        position: absolute;
        left: 50%;
        bottom: 30px;
        width: 140px;
        padding: 10px;
        background-color: #fff;
        transform: translateX(-50%);
        box-sizing: border-box;
        z-index: 3;
        img{
          margin: 0;
          width: 100%;
          height: 100%;
          border: 0;
          vertical-align: middle;
        }
      }
    }
    .home-wx:hover{
      .home-ewm{
        display: block;
      }
    }
    .shortlink {
      img {
        height: 0.12rem;
        margin: 0 0.08rem;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .home-container {
    .home-content {
      .home-inner {
        display: block;
        .intro-left {
          margin-right: 0;
          margin-bottom: 0.5rem;
        }
        .intro-right {
          div {
            font-size: 0.38rem;
            i {
              font-size: 0.18rem;
            }
          }
        }
      }
    }
    .home-bottom {
      display: block;
      text-align: center;
      span {
        font-size: 0.18rem;
      }
      .shortlink {
        margin-bottom: 0.2rem;
        img {
          height: 0.30rem;
          margin: 0 0.2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 768px) {
  .home-container {
    .home-content {
      .home-inner {
        .intro-left {
          margin-right: 1.2rem;
        }
      }
    }
  } 
}