.GlobalMedia{
  .banner{
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 4.1rem;
    position: relative;
    h5{
      color: #fff;
      position: absolute;
      bottom: 43%;
      left: 7%;
      font-size: .4rem;
      line-height: 1.4;
      box-sizing: border-box;
    }
  }
  .gw-container{
    padding: 1rem 0;
    background: #fff;
    .content-box{
      padding: 0 5%;
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 12 columns */
      gap: 20px; /* Grid gap */
      .card{
        width: 90%;
        // height: 316px;
        // margin-right: 5.33%;
        margin-bottom: 0.2rem;
        cursor: pointer;
        &:nth-child(3n){
          margin-right: 0;
        }
        .imgBox{
          overflow: hidden;
          img{
            transition: 4s;
            width: 100%;
            height: 3.16rem;
            vertical-align: middle;
          }
        }
        h5{
          margin-top: .5rem;

        }
        h5 p{
          font-size: .2rem;
          color: #000;
          text-align: center;
          font-weight: normal;
          line-height: 1.5;
        }
      }
      .card:hover{
        .imgBox{
          img{
            transform: scale(1.2);
          }
        }
        h5{
          color: #8d7249;
        }

      }
    }
  }
  .w-1400{
    max-width: 1400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 750px) {
  .GlobalMedia{
    .gw-container{
      min-height: calc(100vh - 8rem);
      .content-box{
        display: grid;
        grid-template-columns:repeat(2, 1fr) !important; /* 两列，每列自动宽度 */
        grid-gap: 20px; /* 格子间隔 */
        padding: 10px; /* 容器内边距 */ 
        .card{
          width: 100%;
          margin-right: 2% !important;
          &:nth-child(3n){
            margin-right: 2% !important;
          }
          &:nth-child(2n){
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 768px) {
  .GlobalMedia{
    .gw-container{
      min-height: calc(100vh - 8rem);
      .content-box{
        display: grid;
        grid-template-columns:repeat(2, 1fr) !important; /* 两列，每列自动宽度 */
        grid-gap: 20px; /* 格子间隔 */
        padding: 10px; /* 容器内边距 */ 
        .card{
          width: 100%;
          margin-right: 2% !important;
          &:nth-child(3n){
            margin-right: 2% !important;
          }
          &:nth-child(2n){
            margin-right: 0;
          }
        }
      }
    }
  }
}